.Events{
    width: 100%;
}

.events-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa;
  }

  *{
    box-sizing: border-box;
  }
  