.event-card {
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .event-card:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.081);
  }
  
  .event-date-time-container {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 0.5rem;
  }
  
  .event-date-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(17, 24, 39, 1);
  }
  
  .event-separator {
    width: 1px;
    flex: 1 1 0%;
    background-color: rgba(17, 24, 39, 0.1);
  }
  
  .event-content {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
  }
  
  .event-infos {
    border-left: 1px solid rgba(17, 24, 39, 0.1);
    padding: 1rem;
    max-width: 50vw;
    
  }
  
  .event-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18.72px;
    color: rgba(17, 24, 39, 1);
  }
  
  .event-description {
    display: -webkit-box;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(55, 65, 81, 1);
    text-align: left;
  }
  
  .event-action {
    display: block;
    background-color: rgb(87, 174, 255);
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(17, 24, 39, 1);
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .event-action:hover {
    background-color: rgb(39, 151, 255);
  }